@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Cookie&family=Courgette&family=Dancing+Script&family=Great+Vibes&family=Josefin+Sans:wght@500&family=Lobster&family=Lobster+Two&family=Pacifico&family=Poppins&family=Zilla+Slab&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 62.5%;
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Josefin Sans', sans-serif;
}
.container{
    overflow: hidden;
}
/*=========== header ===========*/
.header{
    width: 100%;
    position: fixed;
    top: 0px;
    background-color: #fcf6d5;
    z-index: 100;
}
.header-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px 28px;
}
.logo-img{
    width: 60%;
}
.header-item{
    width: 30%;
    display: flex;
    flex-direction: row;
}
.header-item-2{
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.header-item-text:hover, .header-item-text2:hover{
    background-color: #FF6F91;
}
.header-item-text{
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    color: #fcf6d5;
    background-color: #B05C00;
    padding: 10px 50px;
    border-radius: 5px;
    border: 1.5px solid #FF6F91;
    margin: 5px;
}
.header-item-text2{
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    color: #fcf6d5;
    background-color: #008D83;
    padding: 10px 40px;
    border-radius: 5px;
    border: 1.5px solid #FF6F91;
    margin: 5px;
}
/*=========== banner ===========*/
.banner_content{
    background-image: url("../images/banner-3.jpg");
    width: 100%;
    min-height: 700px; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    box-shadow: #fcf6d5 0px -50px 36px -28px inset;
}
.banner_item{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
}
.banner-item2{
    margin-top:20px;
}
.banner_item-text1{
    font-weight: bold;
    color: #4c1723;
    font-size: 30px;
}
.banner_item-text2{
    font-weight: bold;
    font-size: 50px;
    color: orange;
    text-shadow: #fff 1px 1px 0, 2px 2px 0 #4c1723, 2px -2px 0 #4c1723, -2px 2px 0 #4c1723, -2px -2px 0 #4c1723, 2px 0 0 #4c1723, 0 2px 0 #4c1723, -2px 0 0 #4c1723, 0 -2px 0 #4c1723, 1px 0 1px #4c1723, 0 1px 1px #4c1723, 2px 1px 1px #4c1723, 1px 2px 1px #4c1723, 3px 2px 1px #4c1723, 2px 3px 1px #4c1723, 4px 3px 1px #4c1723, 3px 4px 1px #4c1723, 5px 4px 1px #4c1723, 4px 5px 1px #4c1723, 6px 5px 1px #4c1723, 5px 6px 1px #4c1723, 7px 6px 1px #4c1723, 2px 2px 2px rgb(255 190 11 / 0%);
}
.banner_item-text3{
    background-color: #B05C00;
    font-weight: bold;
    font-size: 25px;
    color: #fcf6d5;
    padding: 8px 40px;
    border: 2px solid #FF6F91;
    border-radius: 5px;
    text-align: center;
}
.banner_item-text4{
    font-weight: bold;
    font-size: 30px;
    color: #B05C00;
}
.banner_item-text5{
    font-size: 20px;
    text-decoration: underline;
    color: #B05C00;
}

/*=========== bonus ===========*/
.bonus{
    background-color: #fcf6d5;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    box-shadow: 
        inset 0px 50px 50px -50px #fcf6d5,
        inset 0px -50px 50px -50px #fcf6d5; 
}
.bonus-content{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.bonus-item{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.steps-text{
    font-size: 35px;
    color: #bc3554;
    padding: 30px;
    border-bottom: 1px solid #bc3554;
}
.bonus-item-2{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}
.join, .claim, .spin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.join-image, .claim-image, .spin-image{
    display: flex;
    justify-content: center;
    align-items: center;
}
.join-img, .claim-img, .spin-img{
    width: 70%;
}
.join-text, .claim-text, .spin-text{
    font-size: 35px;
    font-weight: bold;
    color:#bc3554;
    margin-top: 15px;
}
.join-text-2, .claim-text-2, .spin-text-2{
    font-size: 18px;
    font-weight: bold;
    color:#bc3554;
}
/*=========== play ===========*/
.play{
    background-color: #dfdbb4;
    display: flex;
    padding: 40px 0;
    justify-content: center;
    align-items: center;
    box-shadow: 
        inset 0px 50px 50px -50px #fcf6d5,
        inset 0px -50px 50px -50px #fcf6d5; 
}
.play-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.play-item{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.steps-text{
    font-size: 35px;
    color: #bc3554;
    padding: 30px;
    border-bottom: 1px solid #bc3554;
}
.play-item-2{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}
.play-icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.play-image{
    display: flex;
    justify-content: center;
    align-items: center;
}
.play-img{
    width: 85%;
}
.play-img-2{
    width: 70%;
}
.play-text{
    font-size: 35px;
    font-weight: bold;
    color:#4c1723;
    margin-top: 15px;
}
.play-text-2{
    font-size: 18px;
    font-weight: bold;
    color:#bc3554;
}
.play-items{
    margin-top: 50px;
}
.play_item-text{
    background-color: #bc3554;
    padding: 5px 50px;
    border-radius: 5px;
    border: 2px solid #bc3554;
    font-size: 28px;
    color: #fcf6d5;
    font-weight: bold;

}
/*=========== huge ===========*/
.huge{
    background-color: #fcf6d5;
    display: flex;
    padding: 40px 0;
    justify-content: center;
    align-items: center;
    box-shadow: 
        inset 0px 50px 50px -50px #fcf6d5,
        inset 0px -50px 50px -50px #fcf6d5; 
}
.huge-content{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.huge-item{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.shuge-text{
    font-size: 35px;
    color: #bc3554;
    padding: 30px;
    border-bottom: 1px solid #bc3554;
}
.huge-item-2{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}
.huge-icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.huge-image{
    display: flex;
    justify-content: center;
    align-items: center;
}
.huge-img{
    width: 85%;
}
.huge-img-2{
    width: 70%;
}
.huge-text{
    font-size: 35px;
    font-weight: bold;
    color:#bc3554;
    margin-top: 15px;
}
.huge-text-2{
    font-size: 18px;
    font-weight: bold;
    color:#bc3554;
}
.huge-items{
    margin-top: 50px;
}
.huge_item-text{
    background-color: #bc3554;
    padding: 0 50px;
    border-radius: 5px;
    border: 2px solid #bc3554;
    font-size: 30px;
    color: #fcf6d5;
    font-weight: bold;

}

/*=========== banner2 ===========*/
.banner2{
    background-image: url("../images/banner-1.jpg");
    width: 100%;
    min-height: 150px; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    box-shadow: #fcf6d5 0px -50px 36px -28px inset;
}
.banner2-content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
}
.banner2-text{
    font-size: 30px;
    color: #bc3554;
    font-weight: bold;
    margin: 0 50px;
}
.banner2-text-2{
    font-size: 28px;
    font-weight: bold;
    padding: 5px 50px;
    color: #fcf6d5;
    background-color: #bc3554;
    border: 2px solid #bc3554;
    margin: 0 50px;
    border-radius: 5px;
}

/*=========== play2 ===========*/
.play2{
    background-color: #dfdbb4;
    display: flex;
    padding: 40px 0;
    justify-content: center;
    align-items: center;
    box-shadow: 
        inset 0px 50px 50px -50px #fcf6d5,
        inset 0px -50px 50px -50px #fcf6d5; 
}
.play2-content{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.play2-item{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.steps-text{
    font-size: 35px;
    color: #bc3554;
    padding: 30px;
    border-bottom: 1px solid #bc3554;
}
.play2-item-2{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}
.play2-icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.play2-image{
    display: flex;
    justify-content: center;
    align-items: center;
}
.play2-img{
    width: 90%;
}
.play2-img-2{
    width: 75%;
}
.play2-text{
    font-size: 35px;
    font-weight: bold;
    color:#4c1723;
    margin-top: 15px;
}
.play2-text-2{
    font-size: 18px;
    font-weight: bold;
    color:#bc3554;
}
.play2-items{
    margin-top: 50px;
}
.play2_item-text{
    background-color: #bc3554;
    padding: 5px 50px;
    border-radius: 5px;
    border: 2px solid #bc3554;
    font-size: 28px;
    color: #fcf6d5;
    font-weight: bold;
}

/*=========== payment ===========*/
.payment{
    background-color: #fff;
    display: flex;
    padding: 40px 0;
    justify-content: center;
    align-items: center;
}
.payment-content{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.payment-item{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.payment-item-text{
    font-size: 35px;
    color: #bc3554;
    padding: 30px;
    border-bottom: 1px solid #bc3554;
}
.payment-item-2{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
}
.payment-icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.payment-image{
    display: flex;
    justify-content: center;
    align-items: center;
}
.payment-img{
    width: 70%;
}
/*=========== safe ===========*/
.safe{
    background-color: #fcf6d5;
    display: flex;
    padding: 40px 0;
    justify-content: center;
    align-items: center;
}
.safe-content{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.safe-item{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.steps-text{
    font-size: 35px;
    color: #bc3554;
    padding: 30px;
    border-bottom: 1px solid #bc3554;
}
.safe-item-2{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}
.safe-icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.safe-image{
    display: flex;
    justify-content: center;
    align-items: center;
}
.safe-img{
    width: 60%;
}
/*=========== onlinecasino ===========*/
.onlinecasino{
    background-color: #fcf6d5;
    border-top:1px solid black;
    padding: 30px 0;
}
.onlinecasino-content{
    display: flex;
    justify-content: center;
    align-items: center;
}
.onlinecasino-item{
    width: 85%;
    display: flex;
    flex-direction: column;
}
.onlinecasino-item-text{
    font-size: 30px;
    color: #826458;
    font-weight: bold;
}
.onlinecasino-item-text2{
    font-size: 16px;
    margin-top: 30px;
    color: #826458;
}
.onlinecasino-item-text3{
    text-align: right;
    margin-top: 30px;
}
.text3-link{
    font-size: 16px;
    color: #826458;
    border-right: 1.5px solid #826458;
    padding: 0 8px;
}
.text3-link9{
    font-size: 16px;
    color: #826458;
    margin: 5px;
}

/*=========== footer ===========*/
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4c1723;
    padding: 30px 0;
}
.footer-content{
    width: 90%;
}
.footer-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer-item-left{
    display: flex;
    flex-direction: row;
}
.footer-left-img{
    width: 13%;
}
.footer-left-2{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
.footer-left-text{
    font-size: 30px;
    color: #fff;
    font-weight: bold;
}
.footer-left-text2{
    font-size: 12px;
    color: #fff;
    font-weight: bold;
}
.footer-item-right{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: end;
}
.footer-right-img{
    width: 90%;
}
.footer-right-img2{
    width: 50%;
    margin-left: 20px;
}
.footer-item-text{
    font-size: 13px;
    color:#919191;
    line-height: 25px;
}
.footer-item2{
    margin-top: 30px;
}
.footer-gambling{
    font-size: 13px;
    color: #bc3554;
    text-decoration: underline;
}